[Desktop Entry]
Name=Whatsapp
Exec=/home/flynn/Projects/python-webapp/webapp whatsapp.webapp Whatsapp https://web.whatsapp.com
Type=Application
Icon=/home/flynn/Projects/python-webapp/whatsapp/icon.svg
Terminal=false
Comment=Loads Whatsapp in a Webview
