[Desktop Entry]
Name=Whatsapp
Exec=/home/flynn/Projects/webapp/webapp.py whatsapp.webapp Whatsapp https://web.whatsapp.com
Type=Application
Icon=/home/flynn/Projects/webapp/whatsapp/icon.svg
Terminal=false
Comment=Loads Whatsapp in a Webview